meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="shortcut icon", href="https://datos.gob.mx/img/favicon.ico", type="image/x-icon")
link(rel="stylesheet", href="https://cdn.datos.gob.mx/assets/css/main.css")
link(rel="stylesheet", href="/css/main.min.css")
title Datos Abiertos de México - datos.gob.mx

<!-- webcomponents y polymer -->
script(src="https://cdn.datos.gob.mx/bower_components/webcomponentsjs/webcomponents-lite.min.js")
link(rel="import", href="https://cdn.datos.gob.mx/bower_components/polymer/polymer.html")

<!-- navbar y footer de DGM -->
link(rel="import", href="https://cdn.datos.gob.mx/bower_components/dgm-navbar/dgm-navbar.html")
link(rel="import", href="https://cdn.datos.gob.mx/bower_components/dgm-footer/dgm-footer.html")