doctype
html
  head
    include includes/head
  body.front
    main
      dgm-navbar
      include includes/submenu
      block content
      dgm-footer

    script(src="https://cdn.datos.gob.mx/assets/js/main.js")