// Cards - Component
// ----------------------------------
//


.institution-card,
.group-card {
  height: 380px;

  .logo {
    display: block;
    overflow: hidden;

    img {
      display: block;
      margin: auto;
    }
  }
}

.group-card {
  height: 300px;
}