// Main container - Component
// ----------------------------------
//


#main-container {
  margin-bottom: 60px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;

  > .row {
    height: 100%;
    margin: 0;

    > .col-md-3,
    > .col-md-9 {
      height: 100%;
    }
  }
}